// Colores

$azul-marino: #122555;
$azul: #2C56C5;
$rojo: #BB2633;
$texto-gris: gray;

// Estilos textos
$light: 300;
$font-size-h1: 32px;
$font-size-h2: 45px;
$font-size-h3: 28px;
$font-size-h4: 25px;






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

/* --------------- GUIA DE ESTILO --------------------- */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.75rem;
    font-weight: 400;
}

span {
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    font-size: 1.125rem;
    font-weight: 300;
}
